<h1>Weekly Calendar!</h2>
<h2 class="centerText spacerBottom" >See who's down for cooking this week</h3>

<div id="calendar" {{!--style="height: 800px;"--}}>


    <div class='calendar'>
    <div class='row'>
        <div class='column'>
            <div class='green-column'>
                <h3 class="day Monday centerText">Monday</h2>
                {{#if monday}}
                {{user_image}}
                {{/if}}
            </div>
        </div>
        <div class='column'>
            <div class='blue-column'>
                <h3 class="day Tuesday centerText">Tuesday</h2>
                {{#if tuesday}}
                {{user_image}}
                {{/if}}
            </div>
        </div>
        <div class='column'>
            <div class='green-column'>
                <h3 class="day Wednesday centerText">Wednesday</h2>
                {{#if wednesday}}
                {{user_image}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class='row 2'>
        <div class='column'>
            <div class='blue-column'>
                <h3 class="day Thursday centerText">Thursday</h2>
                {{#if thursday}}
                {{user_image}}
                {{/if}}
            </div>
        </div>
        <div class='column'>
            <div class='green-column'>
                <h3 class="day Friday centerText">Friday</h2>
                {{#if friday}}
                {{user_image}}
                {{/if}}
            </div>
        </div>
        <div class='column'>
            <div class='blue-column'>
                <h3 class="day Saturday centerText">Saturday</h2>
                {{#if saturday}}
                {{user_image}}
                {{/if}}
            </div>
        </div>
    </div>
        <div class='row 2'>
            <div class='column'>
                <div class='green-column'>
                    <h3 class="day Sunday centerText">Sunday</h2>
                    {{#if sunday}}
                    {{user_image}}
                    {{/if}}
                </div>
            </div>
            <div class='column'>
                <div >
                </div>
            </div>
            <div class='column'>
                <div >
                </div>
            </div>
        </div>
    </div>
</div> 