<h1>Dietary Requirements</h1>

<div>
    {{#if data}} 
    <div class="centerText" >
        <img  class="dRImg" src="/images/turtle.jpg" alt="A turtle about to eat a strawberry">
    </div>
    <h3 class="centerText">The people have spoken! Your challenge is to make a meal but not just any 
        meal, one which is amazeballs for people who have the following requirements:</h3>
<ul class="customBulletsBox centerList" >
{{#each data}}
    {{#if searchItem}}
    <div class="highlight" >
        <a class="customBullets" href="/profile/{{person_id}}"><li style="listStyleImage: url('/images/{{user_image}}'); padding: .3em 0 1em 40px;">{{requirement}}</li></a>
    </div>
    {{else}}
    <a class="customBullets" href="/profile/{{person_id}}"><li style="listStyleImage: url('/images/{{user_image}}'); padding: .3em 0 1em 40px;">{{requirement}}</li></a>
    {{/if}}

{{/each}}
{{else}}
    <img class="dRImg" src="/images/squirrel.jpg" alt="A squirrel stuffing nuts into its mouth">
    <p class="centerText" >
        No one has entered any dietary requirements, whahoo! 
        Make whatever your stomach desires!
    </p>
{{/if}}
</ul>
</div>

<div>
    <form action="/searchDietaryRequirements" method='POST'>
    <h3>Check to see if something is on the list with minimal reading.</h3>
    <p class="spacerBottom" >
        <em>Please note that this search function only finds words that were mentioned.</em>
    </p>
        <section>
            Search: 
            <input class="textBox" type="text" name="searchItem" >
        </section>

        <section class="buttonWrap" >
            <input class="button buttonLarge buttonAtBottom" type="submit" value="Search the list">
        </section>

    {{!-- Can I do an if statement to see if 'thing in textbox' = thingOnList then... 
     add 'thingOnList' is either  'on list' or not. --}}
    </form>
</div>

<div class="centerText hoverBackground spacerTop spacerBottom">
  <a href="/profile">  <h2>Remembered you are highly allergic to nuts? Quick, add it to your profile!</h2></a>
    
</div>