
{{!-- <div class="profileImgBlock" >
    {{>stars}}
<img class="profileImg" src="/images/freya.jpg" alt="img">
</div> --}}


{{#if profiles}}
{{#each profiles}}
<h1>Oh look it's {{name}}s profile page!!</h1>


<div class="profileImgBlock" >
    {{>stars}}
<img class="profileImg" src="/images/{{img}}" alt="Image of {{name}}">
</div>

<p>
    {{name}}
</p>
<a href="/dietaryRequirement" method="POST"> <button>New dietary requirement?</button></a>
<a href="/addDayAway" method="POST"> <button>Going away?</button></a>

<h2>Dietary Requirements:</h2> 
<ul>
    {{#if dietaryRequirements}}
    {{#each dietaryRequirements}}
    <li>{{dietaryRequirements}}</li>
    {{/each}}
    {{else}}
    <p>
        {{name}} doesn't have any dietary requirements.
    </p>
    {{/if}}
</ul>

{{/each}}
{{else}}
<h1>Wha-woh, this profile doesn't exist!!</h1>
<p class="centerText hoverBackground" >
    To create one click <a href="/addUser">here</a>
</p>
{{/if}}

