
{{!-- <div class="profileImgBlock" >
    {{>stars}}
<img class="profileImg" src="/images/freya.jpg" alt="img">
</div> --}}


{{#if name}}
<h1>Oh look it's {{name}}s profile page!!</h1>


<div class="centerText" >
    {{!-- {{>stars}} --}}
<img class="profilePageImg" src="/images/{{img}}" alt="Image of {{profileData.name}}">
</div>



<h2>Dietary Requirements:</h2> 
<ul class="centerList" >
    {{#if requirement}}
    {{#each requirement}}
    <li>{{this}}</li>
    {{/each}}
    {{else}}
    <p class="centerText"> 
        {{name}} doesn't have any dietary requirements.
    </p>
    {{/if}}
</ul>

<div class="centerText" >
    <a href="/addDietaryRequirement/{{user_id}}"><input class="button buttonLarge buttonAtBottom" type="submit" value="New dietary requirement?"></a>
    <a href="/addDayAway/{{user_id}}"><input class="button buttonLarge buttonAtBottom" type="submit" value="Going away?"></a>
    <a href="/selectDay/{{user_id}}"><input class="button buttonLarge buttonAtBottom" type="submit" value="Select or change your cooking day"></a>

</div>

{{else}}
<h1>Wha-woh, this profile doesn't exist!!</h1>
<p class="centerText hoverBackground" >
    <a href="/addUser">To create one click here</a>
</p>
{{/if}}

